.topic-custom-field-input {
  max-width: 100%;

  &.small {
    width: 150px;
  }

  &.large {
    width: 475px;
  }

  select {
    padding: 0.5em 0.65em;
    border: 1px solid;
    box-sizing:border-box;
    color: var(--primary);
    background-color: var(--secondary);
    font-size: var(--font-0);
  }
}

.topic-custom-field-textarea {
  max-width: 100%;
  width: 465px;
}

.topic-title-custom-field-container {
  clear: none;
  margin-top: 5px;
  font-size: .9rem;
}